<!-- Navbar -->
<nav class="navbar">
    <div class="logo"><span>Online</span>Market</div>
    <ul class="nav-links">
        @if (User.IsInRole("Admin"))
        {
                <li><a asp-action="RegisterAdmin" asp-controller="Account">تسجيل حساب ادمن </a></li>
        }
        @if (User.Identity.IsAuthenticated)
        {
                <li><a asp-action="Logout" asp-controller="Account" method="post">تسجيل الخروج</a></li>

            @if (!User.IsInRole("Admin"))
            {
                        <li><a asp-action="Index" asp-controller="Cart">السلة</a></li>
            }

                <li><a asp-action="Index" asp-controller="Category">المعروضات</a></li>
                <li><a asp-action="Index" asp-controller="Product">المنتجات</a></li>
                <li><a asp-action="Index" asp-controller="Home">الرئيسية</a></li>
        }
        else
        {
                <li><a asp-action="Register" asp-controller="Account">تسجيل حساب</a></li>
                <li><a asp-action="Login" asp-controller="Account">تسجيل الدخول</a></li>
                <li><a asp-action="Index" asp-controller="Category">المعروضات</a></li>
                <li><a asp-action="Index" asp-controller="Product">المنتجات</a></li>
                <li><a asp-action="Index" asp-controller="Home">الرئيسية</a></li>
        }
    </ul>
</nav>
